.page-background{
  background-image: url("../images/sunrise.jpg");
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overscroll-behavior: auto none;
}

.header{
  height: 100px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: 100px 1fr 80px;
}

.Logo{
  width: 90px;
}

.IG_img{
  width: 75px;
}

.top-left-logo{
  margin-left: 15px;
}

.center{
  position: relative;
  left: 0px;
  right: 0px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.center-box{
  width: 80px;
}

.center-text{
  font-size: 45px;
}

.bottom{
  text-align: center;
  margin-top: 1000px;
  position: relative;
  z-index: 100;
}

.bottom div{
  font-size: 40px;
}


.bottom-space{
  height: 120px;
}