.page-background{
  background-image: url("../images/sunrise.jpg");
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}



.top-left-logo{
  margin-left: 15px;
}

.center{
  position: relative;
  left: 0px;
  right: 0px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.center-box{
  width: 80px;
}

.center-text{
  font-size: 45px;
}

.bottom{
  margin-top: 1500px;
}

.ContactX, .portfolio, .testemonials, .about-us{
  text-align: center;
  z-index: 100;
  font-size: 45px;
  position: sticky;

}

.ContactX{
  top:50%;
}
.portfolio{
  top: 60%;
  margin-top: 350px;
}
.testemonials{
  top: 70%;
  margin-top: 300px;

}
.about-us{
  top: 80%;
    margin-top: 250px;

}


.bottom-space{
  height: 300px;
}